.navbar1 {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

.body1 {
    background-color: black;
}

.bodyfont {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.img1 {
    height: 300px;
    width: 300px;
}